/*
0 - 600px:   Phone
600-900px:   Tablet portrait
900-1200px:   Tablet landscape
1800px +:   Big desktop

$breakpoint argument choices:
-  phone
-  tab-port
-  tab-land
-  big-desktop

ORDER: Base + typograpfy > general layout + grid > page layout > components

1em = 16px
*/
@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  80% { }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50%); }
  80% { }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(4rem); }
  30% {
    transform: translateX(-0.4rem); }
  50% {
    transform: translateX(0); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes opacityChange {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes float {
  0% {
    opacity: 1; }
  25% {
    opacity: .8; }
  50% {
    opacity: .7; }
  75% {
    opacity: .9; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: #0E0B16;
  box-sizing: border-box; }

img {
  width: 100%; }

::selection {
  background-color: lightgrey;
  color: #0E0B16; }

a,
a:visited {
  color: inherit; }
  a:active,
  a:visited:active {
    color: goldenrod;
    color: #4717F6;
    text-decoration: none; }

body {
  color: #E7DFDD;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 150%; }

h1, h2, h3, h4, h5 {
  font-family: 'IM Fell English SC', serif;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  line-height: 1; }

.footer {
  background-color: #0E0B16;
  display: flex;
  font-family: serif;
  font-weight: 400;
  justify-content: center;
  padding: 2rem; }
  .footer span {
    font-weight: 700;
    font-style: normal; }

.header {
  color: #0E0B16;
  color: #E7DFDD;
  padding-top: 2rem; }
  @media only screen and (min-width: 50em) {
    .header {
      margin-bottom: 10rem; } }
  .header__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    position: relative; }
    @media only screen and (min-width: 37.5em) {
      .header__content {
        align-items: flex-end;
        justify-content: space-between;
        height: auto; } }

.sub-header {
  height: 40vh;
  text-align: center; }
  .sub-header__img {
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    height: 100%; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  animation: moveInTop 1s;
  background-color: #E7DFDD;
  border-radius: 5px;
  box-shadow: 0 1rem 3rem rgba(14, 11, 22, 0.1);
  cursor: pointer;
  height: 4rem;
  text-align: center;
  width: 4rem;
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 2000;
  transform: rotate(0deg);
  transition: transform .5s; }

.navigation__nav {
  background-color: #E7DFDD;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  visibility: hidden;
  transition: all .2s;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.8, 0.4);
  position: fixed;
  top: 2rem;
  right: -100vw;
  z-index: 1500; }

.navigation__list {
  list-style: none; }

.navigation__link {
  color: #777;
  color: #0E0B16; }
  .navigation__link:link, .navigation__link:visited {
    text-decoration: none; }
  .navigation__link:active {
    color: #333;
    font-weight: 900;
    text-decoration: underline;
    transform: translate(-5px, -5px); }
  .navigation__link:hover {
    cursor: pointer;
    color: #333;
    font-weight: 700; }

.navigation__item {
  padding: 1rem 2rem;
  display: flex;
  justify-content: center; }
  @media only screen and (min-width: 75em) {
    .navigation__item {
      padding: 3rem; } }
  .navigation__item:hover {
    background-color: #eee;
    cursor: pointer; }
    .navigation__item:hover a {
      cursor: pointer;
      color: #333;
      font-weight: 700; }
  .navigation__item:active {
    background-color: #eee; }
    .navigation__item:active a {
      color: #333;
      font-weight: 900;
      text-decoration: underline;
      transform: translate(-5px, -5px); }

.navigation__checkbox:checked ~ .navigation__nav {
  visibility: visible;
  opacity: 1;
  right: 1rem;
  top: 8rem;
  width: auto; }
  @media only screen and (min-width: 62.5em) {
    .navigation__checkbox:checked ~ .navigation__nav {
      width: 12rem; } }

.navigation__icon {
  margin-top: 1.8rem;
  position: relative; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    background-color: #333;
    display: inline-block;
    height: 2px;
    width: 3rem; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .5s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  transform: rotate(-135deg);
  top: 1px; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  transform: rotate(135deg);
  top: 0; }

.navigation__checkbox:checked + .navigation__button {
  transform: rotate(90deg);
  transition: transform .5s; }

@keyframes shake {
  from {
    transform: translate3d(5px, 5px, 0); }
  to {
    transform: translate3d(0); } }

.section {
  color: #E7DFDD;
  margin: 2rem auto;
  padding: 2rem;
  visibility: hidden; }
  @media only screen and (min-width: 37.5em) {
    .section__row {
      display: flex;
      justify-content: center; } }
  .section__col {
    border: 1px solid white;
    padding: 1rem;
    width: 90%;
    max-width: 450px; }
    @media only screen and (min-width: 37.5em) {
      .section__col {
        padding: 3rem; } }
    @media only screen and (min-width: 37.5em) {
      .section__col-1-of-3 {
        margin: 0 1rem 1rem 1rem;
        width: 30%;
        padding: 1rem; } }
  .section__content {
    width: 90%;
    margin: 0 auto; }
    @media only screen and (min-width: 37.5em) {
      .section__content {
        padding: 3rem; } }
  .section__heading {
    display: flex;
    justify-content: center;
    font-size: 3.2rem;
    font-weight: 900;
    letter-spacing: .5rem;
    margin-bottom: 1rem;
    padding: 3.2rem 0; }
    @media only screen and (min-width: 37.5em) {
      .section__heading {
        font-size: 4.8rem; } }
    .section__heading--small {
      font-size: 2.4rem;
      font-weight: 700;
      letter-spacing: .3rem;
      margin: 2.4rem auto 0;
      padding: 1.6rem 0;
      width: 90%;
      justify-content: flex-start;
      text-transform: none; }
      @media only screen and (min-width: 31.25em) {
        .section__heading--small {
          width: 65%; } }
    .section__heading--medium {
      text-transform: none;
      text-align: center; }
      @media only screen and (min-width: 37.5em) {
        .section__heading--medium {
          font-size: 3.2rem;
          letter-spacing: .3rem; } }
  .section__paragraph {
    margin: 1rem auto;
    width: 90%; }
    @media only screen and (min-width: 31.25em) {
      .section__paragraph {
        max-width: 450px; } }

.visible {
  animation: fadeIn 2s;
  visibility: visible; }

.contact {
  padding-bottom: 5rem; }
  .contact__mail {
    display: flex;
    justify-content: center;
    align-content: center;
    text-transform: uppercase;
    font-weight: bold; }
    @media only screen and (min-width: 37.5em) {
      .contact__mail {
        justify-content: flex-start; } }
  .contact__text {
    display: flex;
    justify-content: center;
    margin: 1rem 0; }
    @media only screen and (min-width: 37.5em) {
      .contact__text {
        display: block; } }
  .contact__input {
    padding: 1rem .5rem;
    margin-right: .5rem;
    width: 57%; }
    @media only screen and (min-width: 37.5em) {
      .contact__input {
        margin-right: .5rem; } }
  .contact__submit {
    background-color: #4717F6;
    border: 1px solid #0E0B16;
    color: #E7DFDD;
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 700;
    width: 40%; }
    @media only screen and (min-width: 37.5em) {
      .contact__submit {
        padding: 1rem 0; } }
    .contact__submit:active {
      color: #A239CA;
      text-decoration: underline; }
    .contact__submit:hover {
      cursor: pointer; }
  .contact__feedback {
    display: none; }
    .contact__feedback--error {
      color: red; }
    .contact__feedback--success {
      color: green; }
  .contact form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    @media only screen and (min-width: 31.25em) {
      .contact form {
        justify-content: flex-start;
        flex-direction: row; } }
  .contact__qr {
    text-align: center; }
    .contact__qr img {
      display: block;
      margin: 0 auto;
      margin-bottom: 1rem;
      width: 14rem; }

.content-container {
  margin: 0 auto;
  max-width: 1000px;
  max-width: 1400px;
  max-width: 1200px;
  padding: 1rem; }

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%; }
  @media only screen and (min-width: 37.5em) {
    .logo {
      flex-direction: row;
      align-items: flex-end;
      height: auto;
      width: auto; } }
  .logo__title {
    font-size: 2.4rem;
    margin-left: 1rem;
    text-transform: uppercase; }
    .logo__title-first {
      border-top: 2px solid;
      border-bottom: 2px solid; }
    .logo__title-second {
      background-color: #E7DFDD;
      color: #0E0B16;
      font-weight: 900; }
    .logo__title:hover {
      opacity: .8; }
  .logo__image {
    animation-name: float;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    background-image: url("../img/logo-img.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%; }
    @media only screen and (min-width: 37.5em) {
      .logo__image {
        height: 50px;
        width: 50px;
        margin-bottom: -1rem; } }
    .logo__image:active {
      color: #4717F6; }

.link {
  color: #4717F6;
  font-weight: 700;
  display: inline-block;
  transition: all .2s; }
  .link:hover {
    transform: translateY(-1px); }
  .link:active {
    transform: translateY(0); }

.menu {
  align-self: flex-end; }
  .menu li {
    display: inline-block; }
    @media only screen and (min-width: 50em) {
      .menu li {
        margin: 0 .3rem; } }
  .menu__list-item {
    display: inline-block;
    font-weight: 500;
    opacity: .9;
    padding: .5rem;
    position: relative;
    text-decoration: none; }
    .menu__list-item::after {
      content: "";
      background-color: #E7DFDD;
      display: inline-block;
      height: 2px;
      visibility: hidden;
      width: 1px;
      transition: all .5s ease-in-out;
      position: absolute;
      top: 75%;
      right: 6px;
      transform: translateY(-100%); }
    .menu__list-item:hover {
      opacity: 1; }
      .menu__list-item:hover::after {
        visibility: visible;
        width: 80%; }

.pikoruplay__img {
  display: block;
  margin: 0 auto;
  width: 60%;
  max-width: 400px; }
  @media only screen and (min-width: 50em) {
    .pikoruplay__img {
      width: 35%; } }

.team {
  overflow: auto; }
  .team__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .team__member {
    margin-bottom: 4.8rem;
    max-width: 30rem; }
    @media only screen and (min-width: 37.5em) {
      .team__member {
        animation: fadeIn 1s; } }
    .team__member:nth-child(2) {
      animation-delay: .3s;
      animation-fill-mode: backwards; }
    .team__member:nth-child(3) {
      animation-delay: .6s;
      animation-fill-mode: backwards; }
    @media only screen and (min-width: 37.5em) {
      .team__member {
        margin: 0 1rem 4.8rem 1rem;
        width: 45%; } }
    @media only screen and (min-width: 62.5em) {
      .team__member {
        margin: 1rem;
        width: 30%; } }
    .team__member-image {
      border-radius: 1rem;
      display: block;
      margin: 0 auto; }
    .team__member-description {
      margin: 1rem;
      width: 100%; }
    .team__member-details {
      font-weight: 600;
      list-style: none;
      line-height: 1.4;
      margin: 1rem;
      padding-right: 1rem;
      padding: .5rem; }
      .team__member-details li a {
        display: inline-block; }
        .team__member-details li a::after {
          content: "\00bb";
          margin: 2px; }
        .team__member-details li a:hover {
          transform: translateX(2px);
          transition: all .2s; }
    .team__member-social {
      font-size: 4.8rem;
      list-style: none;
      margin: 1rem; }
      .team__member-social__item {
        margin-right: 2rem;
        display: inline-block; }
        .team__member-social__item i {
          color: white;
          transition: all .2s; }
          .team__member-social__item i:hover {
            cursor: pointer;
            transform: translateY(-3px); }
          .team__member-social__item i:active {
            transform: translateY(0);
            color: #4717F6; }

.work__item {
  margin: 1rem 0; }
  .work__item:not(:last-child)::after {
    content: "";
    background: linear-gradient(#e7dfdd, rgba(231, 223, 221, 0.1));
    border-radius: 5px;
    display: block;
    height: 2px;
    margin: 3rem auto;
    width: 80%; }

.work__header {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  font-weight: 500; }

.work__img {
  margin-bottom: 2rem; }
  @media only screen and (min-width: 50em) {
    .work__img {
      display: block;
      margin: 2rem auto;
      width: 75%;
      max-width: 640px; } }

.work__text {
  margin: 0 1.7rem; }

.work__link {
  display: inline-block;
  font-weight: 700;
  text-decoration: underline; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (min-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (min-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-bottom: 8rem !important; }

.u-margin-top-huge {
  margin-bottom: 10rem !important; }

.u-align-start {
  align-self: flex-start !important; }

.u-align-end {
  align-self: flex-end !important; }

.u-margin-left {
  margin-left: 1rem !important; }

@media only screen and (min-width: 37.5em) {
  .u-show-mobile {
    display: none; } }

.u-show-desktop {
  display: none; }
  @media only screen and (min-width: 37.5em) {
    .u-show-desktop {
      display: inline-block; } }

.u-color-primary {
  color: #4717F6 !important; }

.u-bg-primary {
  background-color: #4717F6 !important; }

.u-color-secondary {
  color: #A239CA !important; }

.u-bg-secondary {
  background-color: #A239CA !important; }

.u-bold {
  font-weight: 700 !important; }
