// COLORS
$color-primary: #7F3B3B;
$color-primary: #B25253;
$color-primary: #29143B;

$color-secondary: #FF5100;
$color-primary: #4717F6;
$color-secondary: #A239CA;
$color-tertiary: #76B28C;
$color-palette-1: #E8CDFF;
$color-palette-2: #DCF5E5;

// $color-link: #B28204;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #f3f2f3;
$color-white: #000;
$color-white: #0E0B16;
// $color-white: #DCF5E5;
$color-black: #000;
$color-black: #f3f2f3;
$color-black: #E7DFDD;
$color-grey: #252524;
// $color-palette-1: #b8cad3;
// $color-palette-2: #d4cbc0;



// font
$default-font-size: 1.6rem;

// grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// Responsive breakpoints
$bp-largest: 75em;  // 1200px. should use ems instead of px.
$bp-large: 62.5em;  // 1000px.
$bp-medium: 50em;   // 800px;
$bp-small: 37.5em;   // 600px;
$bp-smallest: 31.25em;   // 500px;
