.footer {
  background-color: $color-black;
  display: flex;
  font-family:  serif;
  font-weight: 400;
  // font-style: italic;
  justify-content: center;
  padding: 2rem;

  span {
    font-weight: 700;
    font-style: normal;
  }
}
