.footer {
  // background-image: linear-gradient(
  //   to right bottom,
  //   rgba($color-grey-dark-3, .6),
  //   rgba($color-grey-dark-3, .9));

    // background-color: $color-black;

  // background-color: $color-grey-dark-3;
  // background-color: $color-grey-dark-2;
  // color: $color-grey-light-2;
  color: #f3f2f3;
  display: flex;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
  justify-content: center;
  padding: 2rem;

  span {
    font-weight: 700;
    font-style: normal;
  }
}
