.footer {

  color: #f3f2f3;
  display: flex;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
  justify-content: center;
  padding: 2rem;

  span {
    font-weight: 700;
    font-style: normal;
  }
}
