.header {
  // background-color: $color-black;
  // background-color: $color-white;

  color: $color-black;

  padding-top: 2rem;

  @media only screen and (min-width: $bp-small) {
    // margin-bottom: 7rem;
    // padding-top: 10rem;
  }



  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    position: relative;

    @media only screen and (min-width: $bp-small) {
      align-items: flex-end;
      justify-content: space-between;
      // justify-content: flex-end;
      height: auto;
    }

  }

}
