.navigation {

  &__checkbox {
    display: none;
  }

  &__button {
    animation: moveInTop 1s;
    background-color: $color-white;
    border-radius: 5px;
    box-shadow: 0 1rem 3rem rgba($color-black, .1);
    cursor: pointer;
    height: 4rem;
    text-align: center;
    width: 4rem;

    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 2000;

  }

  &__nav {

    background-color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    visibility: hidden;
    transition: all .2s;
    transition-timing-function: cubic-bezier(.17, .67, .8, .4);
    position: fixed;
    top: 2rem;
    right: -100vw;
    z-index: 1500;
  }

  &__list {
    list-style: none;
  }


  &__link {
    color: $color-grey-dark-1;

    &:link,
    &:visited {
      text-decoration: none;
    }

    &:active {
      color: $color-grey-dark-3;
      font-weight: 900;
      text-decoration: underline;
      transform: translate(-5px,-5px);
    }
    &:hover {
      cursor: pointer;
      color: $color-grey-dark-3;
      font-weight: 700;
    }
  }


  &__item {
    padding: 1rem 2rem;
    display:flex;
    justify-content: center;
    @media only screen and (min-width: $bp-largest) {
      padding: 3rem;
    }

    &:hover {
      background-color: $color-grey-light-2;
      cursor: pointer;

      a {
        cursor: pointer;
        color: $color-grey-dark-3;
        font-weight: 700;
      }
    }

    &:active {
      background-color: $color-grey-light-2;

      a { // Reason for this is to have the same effect even if the user click beside the text
        color: $color-grey-dark-3;
        font-weight: 900;
        text-decoration: underline;
        transform: translate(-5px,-5px);
      }
    }
  }

  //FUNCTIONALITY

  &__checkbox:checked ~ &__nav {
    visibility: visible;
    opacity: 1;
    right: 1rem;
    top: 8rem;
    width: 8rem;

    @media only screen and (min-width: $bp-large) {
      width: 12rem;
    }
  }

  //ICON
  &__icon {
    margin-top: 1.8rem;
    position: relative;
    &,
    &::before,
    &::after {
      background-color: $color-grey-dark-3;
      display: inline-block;
      height: 2px;
      width: 3rem;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 1.5s;
      // transition-timing-function: cubic-bezier(.17, .67, .8, .4);
    }

    &::before { top: -.8rem }
    &::after { top: .8rem }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    transform: rotate(30deg);
    top: .8rem;
  }

  &__checkbox:checked + &__button &__icon::after {

    transform: rotate(-30deg);
    top: -.7rem;
  }

  &__checkbox:checked + &__button  {

    transform: rotate(90deg);
    transition: transform 1.5s;
    // top: 0;
  }

}
@keyframes shake {
  from {
    transform: translate3d(5px, 5px, 0);
  }
  to {
    transform: translate3d(0);
  }
}
