
.section {
  border-radius: 5px;
  background-color: $color-grey-light-1;
  // background-color: orangered;
  padding: 1rem;
  margin: 2rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (min-width: $bp-large) {
    flex-direction: row;
    // min-height: 25rem;
    width: 40%;
    margin: 1rem 2rem;
  }

  &__heading {
    color: $color-grey-dark-1;
    // font-size: 2.4rem;
    font-size: 2.8rem;

    @media only screen and (min-width: $bp-large) {

    }
  }

  &__paragraph {
    // font-size: $default-font-size;
    padding: 1rem;
    // line-height: 2.2rem;
  }
}
