
.section {
  // background-color: $color-black;
  // background-color: $color-secondary;
  color: $color-white;
  margin: 2rem auto;
  padding: 2rem;
  visibility: hidden;

  &:nth-child(1) {
    @media only screen and (min-width: $bp-small) {
      // animation: moveInRight 5s;
    }


  }

  &:not(:first-child):not(:last-child) {
    @media only screen and (min-width: $bp-small) {
      // animation: opacityChange 5s;
      // animation-delay:2s;
      // animation-fill-mode: backwards;
    }

  }


  &__row {
    @media only screen and(min-width: $bp-small) {
      display: flex;
      justify-content: center;
    }

  }

  &__col {
    border: 1px solid white;

    padding: 1rem;
    width: 90%;
    max-width: 450px;
    @media only screen and(min-width: $bp-small) {

      // width: 50%;
      padding: 3rem;
    }

    &-1-of-3 {
      @media only screen and(min-width: $bp-small) {
        margin: 0 1rem 1rem 1rem;
        width: 30%;
        padding: 1rem;
      }
    }

  }

  &__content {


    width: 90%;
    margin: 0 auto;
    @media only screen and(min-width: $bp-small) {
      padding: 3rem;
    }

  }

  &__heading {
    display: flex;
    justify-content: center;
    font-size: 3.2rem;
    font-weight: 900;
    // font-weight: 300;
    letter-spacing: .5rem;
    margin-bottom: 1rem;
    padding: 3.2rem 0;
    // text-transform: uppercase;

    @media only screen and(min-width: $bp-small) {
      font-size: 4.8rem;
    }

    &--small {
      font-size: 2.4rem;
      font-weight: 700;
      letter-spacing: .3rem;
      margin: 2.4rem auto 0;
      padding: 1.6rem 0;
      width: 90%;
      justify-content: flex-start;
      text-transform: none;
      @media only screen and(min-width: $bp-smallest) {
        width: 65%;
      }
    }

    &--medium {
      text-transform: none;
      text-align: center;

      // font-weight: 700;
      @media only screen and(min-width: $bp-small) {
        font-size: 3.2rem;
        letter-spacing: .3rem;
      }
    }
  }

  &__paragraph {
    margin: 1rem auto;
    width: 90%;

    @media only screen and(min-width: $bp-smallest) {
      // width: 65%;
      max-width: 450px;
    }

  }

}
//Lazy Load
.visible {
  animation: fadeIn 2s;
  visibility: visible;
}
