.bio {

  // background-color: $color-white;

  @media only screen and (min-width: $bp-large) {
    // flex-direction: column;
    // flex-basis: 22rem;
    // width: 22rem;
    // align-self: flex-end;
    // min-height: 15rem;
    // position: relative;

    // width: 30%;
  }

  &__heading {
    @media only screen and (min-width: $bp-large) {
      // align-self:flex-start;
      // margin-left: .5rem;

    }
  }

  &__paragraph {

    @media only screen and (min-width: $bp-large) {

    }

  }
  &__img {


    opacity: .5;
    border-radius: 50px;
    height: 7rem;
    width: 7rem;
    object-fit: cover; // must set both width and height
    display: block; // otherwise there is a white space
    filter: grayscale(100%);
    transition: all 1s;
    @media only screen and (min-width: $bp-large) {
      height:5rem;
      width: 5rem;
      position: absolute;
      top: 5px;
      right: 15px;
    }

    &:hover {
      filter: grayscale(20%);
      opacity: .8;
    }

    display: none;
  }

  &__quote {
    font-style: italic;
    max-width: 80%;
    position: relative;
    span {
      &::before {
        content:"\201C";
        font-size: 2.2rem;
      }
      &::after {
        content:"\201D";
        font-size: 2.2rem;
      }
    }
    display: none;
  }
}
