.contact {
  background-color: $color-white;
  justify-content: flex-start;

  &__paragraph {

    p {
      padding: 1rem;
    }
  }

  &__mail {
    color: #B28204;
    display: flex;
    font-size: 1.8rem;
  }
}
