.logo {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  @media only screen and (min-width: $bp-small) {
    flex-direction: row;
    align-items: flex-end;
    height: auto;
    width: auto;
  }



  &__title {
    // animation: moveInTop 3s;
    font-size: 2.4rem;
    margin-left: 1rem;
    text-transform: uppercase;
    &-first {

      border-top: 2px solid;
      border-bottom: 2px solid;
    }
    &-second {
      background-color: $color-white;
      color: $color-black;
      font-weight: 900;
    }

    &:hover {
      opacity: .8;
    }
  }

  &__image {

    animation-name: float;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    background-image: url('../img/logo-img.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;

    @media only screen and (min-width: $bp-small) {
      // background-image: url('../img/logo-img-small.png');
      height: 50px;
      width: 50px;
      margin-bottom: -1rem;
    }

    &:active {
      color: $color-primary;
    }

  }
}
