.team {

overflow: auto;

&__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
  &__member {
    animation: opacityChange 3s;
    &:nth-child(2) {
      animation-delay: 2.5s;
      animation-fill-mode: backwards;
    }
    &:nth-child(3) {
      animation-delay: 3s;
      animation-fill-mode: backwards;
    }


    margin-bottom: 4.8rem;
    max-width: 30rem;
    @media only screen and (min-width: $bp-small) {
    margin: 0 1rem 4.8rem 1rem;
    width: 45%;
    }


    @media only screen and (min-width: $bp-large) {

      margin: 1rem;
      width: 30%;
    }

    &-image {
      border-radius: 1rem;
      display: block;
      margin: 0 auto;
    }

    &-description {
      margin: 1rem;
      width: 100%;
    }

    &-details {

      font-weight: 600;
      list-style: none;
      line-height: 1.4;
      margin: 1rem;
      padding-right: 1rem;
      padding: .5rem;

      li {

        a {
          display: inline-block;

          &::after {
            content: "\00bb";
            margin: 2px;
          }

          &:hover {
            transform: translateX(2px);
            transition: all .2s;
          }
        }
      }
    }

    &-social {

      font-size: 4.8rem;
      list-style: none;
      margin: 1rem;

      &__item {
        margin-right: 2rem;
        display: inline-block;

        i {

          color: white;
          transition: all .2s;

          &:hover {
            cursor: pointer;
            transform: translateY(-3px);
          }

          &:active {
            transform: translateY(0);
            color: $color-primary;
          }
        }
      }
    }
  }
}
