.work {

  padding: 1rem;

  &__item {

    margin: 1rem 0;


    &:not(:last-child) {
      &::after {
        content: "";
        background: linear-gradient(rgba($color-white, 1), rgba($color-white, .1)) ;
        border-radius: 5px;
        display: block;
        height: 2px;
        margin: 3rem auto;
        width: 80%;
      }
    }
  }

  &__header {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    font-weight: 500;
  }

  &__img {
    margin-bottom: 2rem;

    @media only screen and(min-width: $bp-medium) {
      display: block;
      margin: 2rem auto;
      width: 75%;
    }
  }

  &__text {
    margin: 0 1.7rem;
  }

  &__link {
    display: inline-block;
    font-weight: 700;
    text-decoration: underline;

    &:hover {

    }


  }
}
