@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    // transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(4rem);
  }

  30% {
    transform: translateX(-.4rem);
  }

  50% {
    transform: translateX(0);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes opacityChange {
  0% {
    opacity: .3;

  }

  100% {
    opacity: 1;

  }
}

@keyframes float {
  0% {
    opacity: .1;

  }

  25% {
    opacity: .3;

  }

  50% {
    opacity: .4;

  }

  75% {
    opacity: .7;

  }

  100% {
    opacity: 1;

  }
}
