
  // &__img {
  //   opacity: .5;
  //   // border-top-right-radius: 50px;
  //   // border-top-left-radius: 50px;
  //   // border-bottom-right-radius: 50px;
  //   // border-radius: 50px;
  //   height: 100%;
  //   width: 10rem;
  //   object-fit: cover; // must set both width and height
  //   display: block; // otherwise there is a white space
  //   filter: grayscale(100%);
  //   // filter: grayscale(100%) blur(3px);
  //   transition: all 1s;
  //   &:hover {
  //     filter: grayscale(20%);
  //     opacity: .8;
  //   }
  // }





.interests {

  justify-content: center;
  @media only screen and (min-width: $bp-large) {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: flex-start;
    // align-self: flex-end;

    // width: 60%;
    // width: 65%;
    // height: 45rem;
    // margin-left: auto;
  }

  &__heading {

    @media only screen and (min-width: $bp-large) {
      // font-size: 4.2rem;
      // font-size: 6.2rem;
      // width: 40%;
    }
  }

  &__paragraph {

    @media only screen and (min-width: $bp-large) {
      // width: 40%;

      // align-self: flex-end;
      // margin: 2.5rem 0;
      // margin-left: -2rem;
    }
  }

  &__list {

    list-style: none;
    @media only screen and (min-width: $bp-large) {
      justify-self: end;
      display: flex;
    }


  }

  &__list-item {

    border-left: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    padding: 1rem;
  }
  display: none;
}
