.project {

  &__header {

    padding: 2rem;
  }

  &__section {
    background-color: $color-white;
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: $bp-large) {

      padding: 10rem;
    }

  }

  &__heading {


    &-1 {
      margin-bottom: 1rem;
      align-self: center;
    }

    &-2 {

    }
  }

  &__paragraph {
      margin: 0;
  }

  &__img {

    margin: 0 auto;
    max-height:25rem;
    max-width: 25rem;
  }

  &__image {

    background-size: cover;
    background-position: top;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 0 0 3px 2px rgba(0,0,0,0.75);
    height: 15rem;
    // opacity: .7; // Indikerar ju faktiskt att man kan klicka på den, ifall det blir en hover-effect.
    transition: all .5s;
    width: 100%;

    @media only screen and (min-width: $bp-large) {
      height: 20rem;

      margin-left: 1rem;

    }


    &:hover {
      opacity: 1;
    }

    &-memory {
      background-image:url(../img/memorygame_small.png);
    }

    &-css-course {
      background-image:url(../img/css-course.png);
    }

    &-portfolio {
      background-image:url(../img/portfolio.png);
    }

    &-quiz {
      background-image:url(../img/quiz.png);
      background-position: center;
    }
  }
  &__text {
    margin: 0 auto;
    width: 90%;
    @media only screen and (min-width: $bp-large) {
      margin: 0 auto;
      width: 75%;

    }


  }
  &__links {

    // display: flex;
    flex-direction: column;
    margin: 1rem 0;
    list-style: none;
  }

  &__link,
  &__link:visited {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    text-decoration: underline;


    &:hover {
      cursor: pointer;
      // i {
      //   transform: translateX(5px);
      // }

      // &::before {
      //   content: "";
      //   background: linear-gradient(
      //   to right,
      //   rgba(#fff, .1),
      //   rgba(#fff, .7),
      //   rgba(#fff, .4));
      //   left:100%;
      //   transition: all .5s;
      //   width: 4rem;
      //   z-index: 1;
      // }
    }

    &:active {
      color: #fba032;
      transform: translateX(5px);
    }

    i {

      padding-left: .5rem;

    }

  }


  &__nav {
    align-items: center;
    color: $color-black;
    display: flex;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    width: 100%;


    &-link {


      &-right {

        margin-left: auto;
        margin-right: 5rem;


        :hover {
          transform: translateX(5px);
          transition: all .2s;
        }

      }

      &-left {
        margin-right: auto;
        margin-left: 5rem;

        :hover {
          transform: translateX(-5px);
          transition: all .2s;
        }

      }

      i {
        margin: .3rem;

      }
    }

  }

}
